body{
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
}

#root{
    min-height:100vh;
    
}

#intro{
    display:-webkit-flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    background-image:url("star2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation:fadeout 2s 1;
    animation-fill-mode: forwards;
    
}

@keyframes fadeout{
    0%{
        
        background-image:url("https://media3.giphy.com/media/7WGlqN1ImykgO0F610/giphy.gif?cid=6c09b9529l4wa62glprsla1jaqmmtsw83v0rx6880nxb8lg0&rid=giphy.gif");
    }

    80%{
       
        background-image:url("https://media3.giphy.com/media/7WGlqN1ImykgO0F610/giphy.gif?cid=6c09b9529l4wa62glprsla1jaqmmtsw83v0rx6880nxb8lg0&rid=giphy.gif");
    }

    
}

div{
    width:100vw;
    height:100vh;
}


h1{
    width:100%;
    font-family: 'Russo One', sans-serif;
    font-size:5vh;
    animation: blank 2s 1;
   
}

@keyframes blank{
    0%{
        opacity: 0.0;
    }
    80%{
        opacity: 0.0;
    }
}

h2{
    font-family: 'Russo One', sans-serif;
    font-size:5vh;
    animation: blank 2s 1;
    margin-top:0;
    
}

.white{
    color:white;
    text-shadow: 1px;;
}

.center{
    text-align: center;
}



#about{
    background-color:#2D2E4B;
}

#navbar{
    display:-webkit-flex;
   
    border-bottom: #598AAC;
    border-style:solid;
    height:10vh;
    position:fixed;
    top:0px;
    left:0px;
    z-index:2;
    background-image:url("star2.jpg");
    animation: blank 2s 1;
    
}




#sections{
    margin-top:0;
    display:inline-flex;
    justify-content: flex-end;
    width:89%;
    height:100%;

   
}

li{
    display:inline-flex;
    align-items:center;
    justify-content: center;
    color:#598AAC;
    width:10%;
    margin-right:2%;
    text-align:center;
    font-size: 2.5vh;
    font-family: 'Russo One', sans-serif;
    height:100%;
    
    
}

li:hover{
    background-color:#E5DFD6;
}


a{
    
    text-align:center;
    text-decoration: none;
    color:#598AAC;
    
}

#logo{
    height:80px;
    width:80px;
    padding-top:0px;
    margin-left:10px;
    margin-top:10px;
    border-radius:50%;
    border-style: solid;
    border-color: white;
    

}

h3{
    margin-top:0;
    margin-bottom:0px;
    padding-top:15vh;
    font-size:4vh;
    text-align:center;
    font-family: 'Russo One', sans-serif;
    color:white;
    text-shadow: black;
    text-decoration:underline;
    text-decoration-color: #598AAC;
    
    
}

#school{
    padding-top:4vh;
    margin-bottom:4vh;
}



#headshot{
    height:60vh;
    width:20vw;
    margin-top:0px;
    float:right;
    position:absolute;
    top:120vh;
    right:0;
    
}

#speech{
    transform:scale(0.25);
    margin-top:0px;
    float:right;
    position:absolute;
    top:50vh;
    left:4%;
}

.description{
    color:whitesmoke;
    width:60%;
    line-height:3vh;
    float:left;
    text-align: left;
    font-family: sans-serif;
    padding-left:2vw;
    font-size:2vh;
    
    
}

.top{
    margin-top:5vh;
    width:49%;
}

#sub{
    text-align:center;
    font-family: 'Russo One', sans-serif;
    font-size:30px;
    color:#598AAC;
    margin-bottom:0px;
    margin-top:0px;
}

#skills{
    display: block;
    height:fit-content;
    
  
       
}

#projects{
    background-image:url("star2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.flex{
    width:98%;
    height:550px;
  
    margin:auto;
}

#table{
    height:fit-content;
    width:fit-content;
    padding:0;
    
    margin:auto;
    margin-top:40px;
    margin-bottom:20px;
   
}

.row{
    margin:0;
    height:30vh;
    width:fit-content;
    margin-bottom:0px;
    
   
    
}

.project-links{
    display:inline-block;
    height:30vh;
    width:25vw;
    border-radius:3%;
    background-color:white;
    margin-right:20px;
   
    
}

.proj{
    border-radius:3%;
    display:block;
    height:100%;
    width:100%;
    margin:0;
}

#contacts{
    background-color:#2D2E4B;
}

#info{
   display:block;
   margin:auto;
   padding:0px;
   width:55%;
   margin-top:2vh;
   margin-bottom:0px;
   border-style: solid;
   border-color: white;
   text-align:center;
   
}

.con{
    display:inline-block;
    padding:2vh;
    width:fit-content;
    text-align:center; 
}

form{
    padding:50px;
    padding-top:25px;
    width:70%;
    margin:auto;
    
   
}

label{
    color:white;
    display:block;
    margin:auto;
    width:fit-content;
}

input{
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:25px;
    border-style:solid;
    border-width: 5px;
    border-color:#598AAC;
    width:22vw;
    height:3vh;
}

textarea{
    
    height:20vh;
    width:22vw;
    display:block;
    margin:auto;
    border-style:solid;
    border-width: 5px;
    border-color:#598AAC;
    margin-bottom:20px;
    margin-top:10px;
    
}

button{
    display:block;
    margin:auto;
    background-color:#598AAC;
    color:white;
    width:5vw;
    height:3vh;
    

}

.clear{
    clear:both;
    height:10px;
}
